<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Front End Capstone</title>
    <meta name="description" content="Udacity Front End Nanodegree Capstone" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('go').addEventListener('click', function(event) {
                event.preventDefault();
                Client.handleSubmit();
            })
        })
      </script>
</head>

<body>
    <main>
        <section class="form">
            <form>
                <label for="location">Where are you heading?</label>
                <input type="text" id="location" placeholder="Des Moines">
                <input type="submit" id="go" value="Go" >
            </form>
        </section>
        <section class="results">
            
        </section>
    </main>
</body>

</html>