$text-color: #333;
$accent-grey: #eee;
$accent-color: rgb(250, 181, 38);

.container {
    width: 100%;
    max-width: 750px;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    margin: auto;
    grid-row-gap: 40px;
}

.form {
    display: flex;
    background-color: $accent-grey;
    justify-content: center;
    form {
        margin: 50px 20px 50px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
            margin-bottom: .5em;
        }
        input {
            width: 100%;
            font: 16px/1.5em "Karla", sans-serif;
        }
    }    
}

.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .head {
        font-weight: bold;
    }
    .result-container {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 50%;
        img {
            max-width: 150px;
        }
    }
}